DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
OWNER_DISCORD_IDS=
CREATOR_CODES={}
CONTENT_VAULT_URL=
SUBMISSIONS_WEBHOOK_URL=
ANNOUNCEMENTS_WEBHOOK_URL=
IMPACT_WEBSITE=
IMPACT_INSTAGRAM=
IMPACT_TIKTOK=
